PayDay le permite llevar la planilla de múltiples empresas, dependiendo del licenciamiento que usted haya adquirido.  Tenemos versiones desde 1, 5 y hasta 99 empresas; cada una de las cuales se configuran y trabajan indivindual e independientemente. 

Estas empresas pueden ser de diversos tipos: Normales, Constructoras, Portuarias o de Servicios Profesionales.  Cada uno de estos tipos tiene sus particularidades en los cálculos y todos basados en la ley.

Al comenzar a trabajar con PayDay, encontramos una compañía creada, a la cual solo hay que configurarla de acuerdo a sus propias necesidades y requerimientos.  De igual forma, cuando se cree una nueva empresa, se requerirá configurarla con sus datos particulares. 

Veamos ahora, como podemos:
<<ul>><<li>> <<%= TopicLink([ Crear una nueva compañía],[Crear una nueva compañía]) %>>
<<li>> <<%= TopicLink([ Modificar una compañía existente],[Configurar una compañía existente]) %>>
<<li>>  <<%= TopicLink([Seleccionar otra compañía],[Seleccionar otra compañía]) %>>
<</ul>>



